/*===============================
   HOME SECTION
  ==================================*/
  main {
    position: absolute;
    left: 0;
    margin-top: 10vh;
  }
  #home {
    width: 100vw;
    height: 100vh;
    background: url("/images/interior-ordin-960.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
    padding-top: 1rem;
  }
  .home-content {
    padding: 2rem 3rem;
    background-color: var(--clr-lt-transparent);
    border-radius: 10px;
  }
  .home-content h1 {
    margin-bottom: 2rem;
  }
  .home-content p {
    margin-bottom: 3rem;
  }
  .home-content a {
    display: inline-block;
    padding: 10px 30px;
    background: var(--clr-prim);
    color: var(--clr-sec);
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .home-content a:hover {
    background: var(--clr-sec);
    color: var(--clr-prim);
  }
  