#about {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.section-content {
  width: 100%;
  padding: 1rem;
  margin: auto;
}
/* .section-content h2 {
  font-size: 5rem;

} */
.section-content p {
  text-align: center;


}

