#about {
    width: 100%;

    padding: 0;
    margin: 0 auto;
    margin-top: 10%;
   
}
.section-content {
  width: 100%;
  padding: 1rem;
  margin: auto;
}
.section-content h2 {
  font-size: 5rem;

}
.section-content p {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 5%;
}
/* .section-image {
 
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  box-shadow: 20px 0 20px 0 inset rgba(255, 255, 255, 0.5);
  
} */