/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
body {
  width: 100vw;
  
}
ul,
ol {
  list-style: none;
}
img {
  border: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}
button:focus {
  outline: none;
}
input,
textarea {
  border: none;
  background: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
