/*======== SERVICES SECTION ===============*/
#service .container-wide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: stretch;
  align-content: space-between;
  align-items: center;
}
.service-box {
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: stretch;
  align-items: center;
  align-content: space-between;
  text-align: left;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  overflow-x: visible;
  background:  rgba(88, 88, 88, 0.418);
  border: 2px solid inherit;
  border-radius: 10px;

}

/* .service-box:hover {
  box-shadow: 1px 1px 3px rgba(88, 88, 88, 0.418);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
} */

.service-box img {
  width: 100%;
}

.service-box p {
  height: 100%;
  padding: 1rem;
  margin: auto 1rem;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin: 1rem;
    background:  rgba(88, 88, 88, 0.21);
  border: 2px solid inherit;
  border-radius: 10px;
}
.service-card img {
  max-width: 100px;
}
